:root {
  --Background-color: #001f3f;
  --primaryColor: #4b70f5;
  --primaryColorHover: #1443ed;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: var(--Background-color);
  margin: 0;
  padding: 0;
}
.slider-container {
  width: 60%;
  height: 600px;
  position: relative;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  .slider-container {
    width: 90%;
    height: 550px;
    margin-top: 3%;
    padding: 0;
  }
}
.slide-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.slide {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 10px;
  .text {
    position: absolute;
    bottom: 0;
    background: linear-gradient(
      to bottom,
      transparent,
      var(--Background-color),
      var(--Background-color)
    );
    z-index: 1;
    width: 100%;
    padding: 20px;
    color: white;
    padding-top: 20px;
    h3 {
      margin: 0;
      padding: 0;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: sliding 0.5s alternate;
    @keyframes sliding {
      0% {
        scale: 1.2;
      }
      100% {
        scale: 1;
      }
    }
  }
}
.img-container {
  position: relative;
  overflow: hidden;
  height: 90%;
}
.navigation {
  width: 70%;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-content: center;
  align-self: center;
  bottom: 0;
  padding: 10px 0px 30px 0px;
  align-content: space-between;
}
button {
  background-color: var(--primaryColor);
  display: grid;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
  border: none;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
  color: white;
  &:hover {
    background-color: var(--primaryColorHover);
  }
}
.navigation-bar {
  margin: 0 auto;
  align-self: center;
  display: flex;
  align-items: center;
  button {
    border: none;
    border-radius: 2px;
    margin: 0 5px;
    padding: 2px;
    transition: 0.4s;
    &:hover {
      background-color: white;
    }
  }
}
.active {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 4px !important;
}
.inactive {
  background-color: rgba(241, 241, 241, 0.811);
  width: 20px;
  height: 5px;
}
.play-container {
  // border: 2px solid red;
  padding: 0 40px 0 0;
}

@media screen and (max-width: 800px) {
  .navigation {
    width: 100%;
    padding: 0;
  }
  .play-container {
    padding: 0;
  }
}
